<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldj.demo.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.ldj.demo.domain.UserInfo" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_pass" property="userPass" jdbcType="VARCHAR" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
    <result column="user_question" property="userQuestion" jdbcType="VARCHAR" />
    <result column="user_answer" property="userAnswer" jdbcType="VARCHAR" />
    <result column="user_state" property="userState" jdbcType="VARCHAR" />
    <result column="user_role" property="userRole" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <!-- getUserList1 根据条件查询分页用户列表,联表查询，表名使用了别名，需要使用ResultMap进行字段映射而不再是 resultType="user"-->
  <select id="findUserList1" resultMap="BaseResultMap" parameterType="Map" >
    select user_id,user_name,user_pass,user_email,user_phone,user_question,user_answer,user_state,user_role,create_time,update_time
    from t_user
    <where>
      <if test="name!=null"> and user_name like  CONCAT('%', #{name},'%')</if>
      <if test="email!=null">and user_email like  CONCAT('%', #{email},'%')</if>
      <if test="phone!=null">and user_phone like  CONCAT('%', #{phone},'%')</if>
    </where>
  </select>
  <select id="findUser01"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM t_user
        where user_name = #{name}
    </select>
</mapper>
